@font-face{
    font-family: "montserrat-regular";
    src: url('Montserrat-Regular.ttf');
}

@font-face{
    font-family: "raleway-regular";
    src: url('Raleway-Regular.ttf');
}
body{
    font-family: "montserrat-regular";
    background-image: url(joueurpsg.jpeg);
    margin: 0;
    background-size: 100%;
    background-position: 50%50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
h1{
        font-family: "raleway-regular";
        font-size: 50px;
        color: #ceab5d;
        text-align: center;
    }
h3{
        color: rgb(218, 41, 28);
        text-align: center;
    }

h4{
        color: rgb(255, 255, 255);
        text-align: center;
    }
h2{
        color: rgb(255, 255, 255);
        text-align: center;
    }
    a { color: #ceab5d;
        text-decoration: none;
        text-align: center;
    }
      
    a:hover{ 
        color: rgb(255, 255, 255);
        text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255)
    }